Repository eWaterCycle/remotebmi: changes, and which Codecov flags are due for each by the changed paths.
All: Python, Julia, R

Badges
  RemoteBMI.jl/README.md
Due: Julia

Add tests for base_url
  python/remotebmi/client/client.py
  python/tests/test_client.py
Due: Python

Format
  python/tests/test_client.py
Due: Python

Move url validation to own function
  python/remotebmi/client/client.py
  python/remotebmi/client/utils.py
Due: Python

Return nothing value instead of type
  RemoteBMI.jl/src/Server.jl
Due: Julia

More renames
  .github/workflows/JuliaReusableTest.yml
  .github/workflows/julia-docs.yml
  .github/workflows/r.yml
  R/README.md
  julia/.github/ISSUE_TEMPLATE/30-usage.yml
  julia/.github/PULL_REQUEST_TEMPLATE.md
  julia/docs/make.jl
  julia/docs/src/91-developer.md
  julia/generator.md
  python/src/remotebmi/server/__init__.py
Due: Python

Do python build on ci
  .github/workflows/python.yml
Due: none

Make sure all workflows run on push to pr
  .github/workflows/openapi.yml
  .github/workflows/python.yml
Due: none

Add python server test + python coverage + mypy + pyproject meta added + dynamic version + fixes return types of py server
  .github/workflows/python-publish.yml
  .github/workflows/python.yml
  python/README.md
  python/pyproject.toml
  python/src/remotebmi/__init__.py
  python/src/remotebmi/client/apptainer.py
  python/src/remotebmi/client/client.py
  python/src/remotebmi/server/api.py
  python/tests/fake_models.py
  python/tests/test_server.py
Due: Python

Make CI greener
  .github/workflows/python.yml
  python/tests/test_server.py
Due: Python

Added cff
  CITATION.cff
Due: none

Added code of conduct
  CODE_OF_CONDUCT.md
Due: none

Update python/pyproject.toml
  python/pyproject.toml
Due: Python

Add extra explanation on max_keepalive_connections kwarg.
  python/src/remotebmi/client/client.py
Due: Python

Reference issue in todo comment
  python/src/remotebmi/client/client.py
Due: Python

Make pytest workflow run when pyproject.toml is modified
  .github/workflows/python.yml
Due: none

Set mypy to check with minimal py version
  python/pyproject.toml
Due: Python

Add test matrix for python
  .github/workflows/python.yml
Due: none

Add test for py3.13, only test min and max versions
  .github/workflows/python.yml
Due: none

Install package before type checking (so dependencies are available)
  .github/workflows/python.yml
Due: none

Also install dev packages for mypy
  .github/workflows/python.yml
Due: none

Prepare python publish (#27)
  .github/workflows/python-publish.yml
  .github/workflows/python.yml
  CITATION.cff
  CODE_OF_CONDUCT.md
  python/README.md
  python/pyproject.toml
  python/src/remotebmi/__init__.py
  python/src/remotebmi/client/apptainer.py
  python/src/remotebmi/client/client.py
  python/src/remotebmi/server/api.py
  python/tests/fake_models.py
  python/tests/test_server.py
Due: Python

Make type checking strict
  python/pyproject.toml
Due: Python

Add typing to api.py, fix tolist returns
  python/src/remotebmi/server/api.py
Due: Python

Add typing to utils
  python/src/remotebmi/client/utils.py
Due: Python

Ignore untyped tests
  python/tests/fake_models.py
  python/tests/test_client.py
  python/tests/test_server.py
Due: Python

fix typing, get_var_type return type (str) in python client
  python/src/remotebmi/client/client.py
Due: Python

Final typing fixes
  python/pyproject.toml
  python/src/remotebmi/client/apptainer.py
  python/src/remotebmi/client/docker.py
  python/src/remotebmi/reserve.py
  python/src/remotebmi/server/__init__.py
  python/src/remotebmi/server/api.py
  python/src/remotebmi/server/build.py
  python/tests/fake_models.py
  python/tests/test_reserve.py
Due: Python

Make ruff happy
  python/src/remotebmi/client/docker.py
Due: Python

Make CI not run double
  .github/workflows/python.yml
Due: none

Improve Python typing (#34)
  .github/workflows/python.yml
  python/pyproject.toml
  python/src/remotebmi/client/apptainer.py
  python/src/remotebmi/client/client.py
  python/src/remotebmi/client/docker.py
  python/src/remotebmi/client/utils.py
  python/src/remotebmi/reserve.py
  python/src/remotebmi/server/__init__.py
  python/src/remotebmi/server/api.py
  python/src/remotebmi/server/build.py
  python/tests/fake_models.py
  python/tests/test_client.py
  python/tests/test_reserve.py
  python/tests/test_server.py
Due: Python

Add first version of python docs (local build)
  python/README.md
  python/docs/.gitignore
  python/docs/Makefile
  python/docs/conf.py
  python/docs/examples/.gitignore
  python/docs/examples/logo.png
  python/docs/index.rst
  python/docs/make.bat
  python/docs/requirements.txt
  python/pyproject.toml
  python/src/remotebmi/__init__.py
Due: Python

Try to reuse steps, test build docs
  .github/workflows/python.yml
Due: none

Can't reuse job contant
  .github/workflows/python.yml
Due: none

Add dummy step
  .github/workflows/python.yml
Due: none

Make CI look organized
  .github/workflows/python.yml
Due: none

Make mypy ignore docs
  python/pyproject.toml
Due: Python

Try publishing Python docs
  .github/workflows/python.yml
Due: none

Can't deploy docs: interferes with julia docs
  .github/workflows/python.yml
Due: none

Path conditions:
  Python: any of: python/**
  Julia: any of: RemoteBMI.jl/**
  R: any of: R/remotebmi/**
